<div class="jumobotron contactPanel container-fluid">
	<div class="spacedRow">So you like me enough to contact me...</div>
	<form class="contactForm" method="post" name="contactForm" action="contactMe.php">
		<div class="col-md-12 row spacedRow">
			<div class="col-md-2">
				Name 
			</div>
			<div class="col-md-10">
				<input class="contactInput" type="text" placeholder="Your Name" name="name" required>
			</div>
		</div>		
		<div class="col-md-12 row spacedRow">
			<div class="col-md-2">
				Email
			</div>
			<div class="col-md-10">
				<input class="contactInput" type="email" placeholder="Your Email Address" name="email" required>
			</div>
		</div>
		<div class="col-md-12 spacedRow row">
			<div class="col-md-2">
				Message
			</div>
			<div class="col-md-10">
				<textarea rows="5" class="contactInput" type="text-area" placeholder="Your Message" name="message" required></textarea>
			</div>
		</div>
		<div class="col-md-12">
		<button type="button submit" class="btn contactButton">Send Me A Message!</button>
		</div>
	</form>
</div>