<!-- Check in app panel -->
<div class="jumobotron mycsPanel container-fluid">
	<div class="projectTitle col-xs-12">My Computer Support Check In App</div>
	<!-- project technologies -->
	<div class="col-md-3 col-xs-12">
		<div class="col-md-12 col-xs-6"><img class ="projectSkills" src="media/angular.png" alt="AngularJS"></div>
		<div class="col-md-12 col-xs-6"><img class ="projectSkills" src="media/ionic.png" alt="Ionic"></div>
		<div class="col-md-12 col-xs-6"><img class ="projectSkills" src="media/firebase.png" alt="Firebase"></div>
		<div class="col-md-12 col-xs-6"><img class ="projectSkills" src="media/htmlcss.png" alt="HTML and CSS"></div>
	</div>
	<!-- project details -->
	<div class="col-md-9 col-xs-12">
		<div class="spacedRow">
		My Computer Support is a computer repair business. The MYCS Check in app replaced paper job forms and made it easy for staff to track, update and contribute to current repairs. This web/mobile application was built using AngularJS and Ionic. All data relating to the clients and the jobs was stored in a firebase database which was authenticated with a security token within the application.
		</div>
		<div class="spacedRow">
		The application is able to process and display lots of data stored in the database, this data is editable through the app with the use of Angular. The Ionic framework allowed me to make the app responsive and highly interactive. The app is usable on android, iOS and desktop devices.
		</div>
		<div class="spacedRow">
		This was my first real experience building a data-driven mobile application. I was thrown in the deep end of the Angular pool and was able to swim thanks to my solid understanding of general programming concepts. 
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-xs-12 projectLink"><a class="projectLink" href="projects/MYCS/www/index.html" target=_blank>Click here to see it!</a></div>
	</div>
	<div class="row">
		<div class="text-center col-md-12 col-xs-12">Have a play around with the app. Try checking in a job and then navigating to the jobs tab to edit and update it.</div>
	</div>
</div>
<!-- Parsecode.org panel -->
<div class="jumobotron parsecodePanel container-fluid">
	<div class="projectTitle">Parsecode.org</div>
	<div class="row">
		<div class="col-md-12 col-xs-12">
		<!-- project technologies -->
			<div class="col-md-3 col-xs-12">
				<div class="col-md-12 col-xs-6"><img class ="projectSkills" src="media/angular.png" alt="AngularJS"></div>
				<div class="col-md-12 col-xs-6"><img class ="projectSkills" src="media/bootstrap.png" alt="Bootstrap"></div>
				<div class="col-md-12 col-xs-6"><img class ="projectSkills" src="media/htmlcss.png" alt="HTML and CSS"></div>

			</div>
			<div class="col-md-9">
				<div class="col-md-12">The site you have been looking at for the last couple of minutes is driven by Angular and presented to you using Bootstrap. I have gained some valuable skills during my time developing this site twice over. </div>
			</div>
		</div>
	</div>
</div>

