<div class="jumobotron mycsPanel container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-12">My Computer Support Check In App</div>
		</div>
		<div class="col-md-6">
			
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="col-md-4">
				<div class="col-md-12"><img class ="projectSkills" src="media/angular.png" alt="AngularJS"></div>
				<div class="col-md-12"><img class ="projectSkills" src="media/ionic.png" alt="AngularJS"></div>
				<div class="col-md-12"><img class ="projectSkills" src="media/firebase.png" alt="AngularJS"></div>
			</div>
			<div class="col-md-8">
				<div class="col-md-12">The MYCS Check in app was a project I worked on at the start of 2016. My Computer Support is a business offering computer repairs and IT solutions. The app is used to track and store in-house repairs and services on client machines. Jobs are stored in a database and are editable through the app. </div>
			</div>
		</div>
	</div>
</div>

